<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>
<h1> formulaire BONJOUR </h1>
<form action="/myfirstapp/bonjour/" method="GET">
    <p>
        <label for="nom"> Nom:</label>
        <input type="text" name="nom" id="nom">
    </p>
    <p>
        <label for="prénom"> Prénom:</label>
        <input type="text" name="prénom" id="prénom">
    </p>
    <p>
        <label for="age"> Age:</label>
        <input type="text" name="nom" id="age">
    </p>
    <input type="submit" value="envoyer">
</form>
</body>
</html>