<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="#" method="post">
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom">
        <label for="mail">Mail : </label>
        <input type="email" name="mail" id="mail">
        <label for="sujet">Sujet : </label>
        <input type="text" name="sujet" id="sujet">
        <label for="message">Message : </label>
        <textarea name="Message" placeholder="" id="message">


        </textarea>
        <input type="submit" name="envoyer" id="envoyer">
    </form>
</body>
</html>